*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
body{
    font-family: "IBM Plex Mono", monospace;
    color: #000;
    background: #F0ECE5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F0ECE5;
    padding: 40px 0;
    z-index: 2;
    transition: all 0.5s;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.active {
    background-color: #fff;
    padding: 25px 0;
}
.container {
    padding: 0 140px ;
    width: 100%;
}
.container-x {
    padding: 0;
    display: flex;
}
nav a{
    color: #000;
    font-size: 22px;
    padding-right: 60px;
    text-decoration: none;
}
nav a:last-child {
    padding-right: 0;
}
.menu-toggle {
    display: none;
    position: relative;
    height: 30px;
    width: 34px;
}
.menu-toggle .bar {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transition: all 0.3s;
}
.menu-toggle .bar1 {
    top: 0;
}
.menu-toggle .bar2 {
    top: 50%;
    transform: translateY(-50%);
}
.menu-toggle .bar3 {
    bottom: 0;
}
.menu-active .menu-toggle .bar1 {
    top: 50%;
    transform: translateY(0) rotate(45deg);
}
.menu-active .menu-toggle .bar2 {
    opacity: 0;
}
.menu-active .menu-toggle .bar3 {
    top: 50%;
    transform: translateY(0) rotate(-45deg);
}
.menu-active header nav{
    height: 100vh;
}
.naslovna {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url("/io/assets/images/pozadina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.naslovna-text {
    position: absolute;
    bottom: 150px;
    color: #fff;
}
.naslovna-text h2{
    font-size: 150px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 1;
}
.naslovna-text p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 22px;
    max-width: 500px;
}

.intro-text {
    padding: 100px 0;
    max-width: 80%;
    margin: 0  auto;
}
.intro-text .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.intro-text h2 {
    font-size: 36px;
    max-width: 820px;
    font-weight: 500;
}

.intro-text a {
    font-size: 22px;
    color: #000;
    padding: 20px 50px;
    border: 1px solid #000;
    border-radius: 50px;
    text-decoration: none;
}

.services-01 {
    position: relative;
    width: 25%;
    padding: 50px 50px 50px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border-right: 1px solid;
}
.services-01::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: calc(100% - 50px);
    background: #000;
}
.services-swiper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    width: calc(100% - 50px);
    background: #000;
}
.clients .container-x .services-01::before {
    height: 0;
}
.title span {
    display: block;
    font-size: 22px;
    line-height: 1;
    color: #666;
    margin-bottom: 20px;
}
.title h2 {
    font-size: 38px;
    margin-bottom: 40px;
    padding-right: 100px;
}
.services-text p {
    font-size: 22px;
    line-height: 1.4;
}
.services-swiper {
    position: relative;
    width: 75%;
    padding: 50px 0 50px 50px;
}
.swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
}
.swiper-slide.orange {
    background: #E85A36;
    color: #fff;
}
.swiper-slide.white {
    background: #fff;
    color: #E85A36;
}
.swiper-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.swiper-title h3 {
    font-size: 34px;
}
.swiper-slide span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #E85A36;
}
.swiper-slide.white span {
    background: #E85A36;
    color: #fff;
}
.swiper-text p {
    font-size: 20px;
    margin-bottom: 30px;
    padding-right: 40px;
}
.swiper-io-services {
    margin-top: 80px;
}
.swiper-io-services h4{
    font-size: 20px ;
    margin-bottom: 20px;
}
.swiper-io-services p{
    font-style: italic;
    font-size: 20px;
}

.swiper-slide.projects {
    background: #fff;
    color: #000;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0;
}
.projects-text {
    padding: 40px;
}

.projects-text .swiper-text p {
    font-size: 22px;
    margin-bottom: 0;
}

.swiper-slide.projects span {
    background: #000;
    color: #fff;
}
.about {
    position: relative;
    width: 75%;
    padding: 50px 0 50px 50px;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    width: calc(100% - 50px);
    background: #000;
}
.about-items {
    display: flex;
}
.item {
    padding: 20px 60px;
    width: 33.33%;
}
.item img {
    height: 130px;
    margin-bottom: 80px;
}
.item h3 {
    font-size: 34px;
    max-width: 300px;
    margin-bottom: 60px;
}
.item p {
    font-size: 22px;
    color: #666;
}
.image img{
    width: 100%;
    margin-bottom: -5px;
}

.animacija {
    background: url("/io/assets/images/sponzori.png");
    background-repeat: repeat-x;
    background-size: cover;
    height: 80px;
    width: 75%;
    margin-top: 100px;
    animation: animate 100s linear infinite;
}

@keyframes animate {
    from {
        background-position: 0 center
    }
    to {
        background-position: 10000px center
    }
}
.contact-info {
    display: flex;
}
.contact-item {
    width: 50%;
    padding: 20px 40px;
}
.contact-item h3 {
    font-size: 30px;
}
.contact-item span {
    font-size: 18px;
    color: #666;
}
.contact-item p {
    font-size: 20px;
    color: #666;
    margin-top: 50px;
}
.contact-item a {
    display: block;
    color: #666;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
}
footer {
    background-color: #E85A36;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 767px){
    .container {
        padding: 0 30px;
    }
    header {
        padding: 15px 0;
    }
    .active {
        padding: 10px 0;
    }
    .menu-toggle {
        height: 22px;
        width: 26px;
    }
    nav a {
        padding: 0 0 20px 0;
        font-size: 19px;
    }
    .naslovna-text h2 {
        font-size: 45px;
    }
    .naslovna-text p {
        font-size: 16px;
    }
    .intro-text {
        padding: 30px 0;
        max-width: 100%;
    }
    .intro-text h2 {
        font-size: 20px;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .intro-text a {
        font-size: 16px;
        padding: 10px 30px;
    }
    .services-01 {
        width: 100%;
        padding: 40px 20px;
        border-right: 0px;
    }
    .title span {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .title h2 {
        font-size: 34px;
        margin-bottom: 20px;
        padding-right: 0px;
    }
    .services-text p {
        font-size: 16px;
        line-height: 1.4;
    }
    .services-swiper {
        width: 100%;
        padding: 0 0 40px 20px;
    }
    .swiper-title {
        margin-bottom: 20px;
    }
    .swiper-title h3 {
        font-size: 26px;
    }
    .swiper-slide {
        padding: 20px;
    }
    .swiper-slide span {
        font-size: 14px;
        width: 34px;
        height: 34px;
    }
    .swiper-text p {
        font-size: 16px;
        margin-bottom: 15px;
        padding-right: 0;
    }
    .swiper-io-services {
        margin-top: 20px;
    }
    .swiper-io-services h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .swiper-io-services p {
        font-size: 14px;
    }
    .projects-text {
        padding: 20px;
    }
    .projects-text .swiper-text p {
        font-size: 14px;
    }
    .about {
        width: 100%;
        padding: 0px 0 40px 20px;
    }
    .item img {
        height: 40px;
        margin-bottom: 25px;
    }
    .item h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .item p {
        font-size: 16px;
    }
    .animacija {
        height: 50px;
        width: 100%;
        margin: 0 0 40px;
    }
    .contact-item h3 {
        font-size: 22px;
    }
    .contact-item p {
        font-size: 16px;
        margin-top: 20px;
    }
    .contact-item a {
        font-size: 16px;
    }
    footer {
        padding: 15px 0;
        font-size: 14px;
    }

}
@media screen and (max-width: 991px){
    header nav {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .menu-active {
        overflow: hidden;
    }
    .menu-active header {
        background-color: #fff;
    }
    .menu-active nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50%;
    }
    .menu-active header .container {
        align-items: normal;
    }

    .intro-text .container {
        display: block;
    }
    
    .container-x {
        display: block;
    }
    
    .services-01::before {
        width: 100%;
    }
    .services-swiper::before {
        width: 0%;
    }
    
    .about::before {
        width: 0%;
    }
    
    .about-items {
        display: block;
    }
    .item {
        padding: 0; 
        margin-bottom: 40px;
        width: 100%;
    }
    
    .contact-info {
        display: block;
    }
    .contact-item {
        width: 100%;
        padding: 0 0 20px;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0 50px;
    }
    header {
        padding: 30px 0;
    }
    nav a{
        padding: 0 0 40px 0;
        font-size: 30px;
    }
    .naslovna-text h2 {
        font-size: 70px;
        margin-bottom: 30px;
    }
    .naslovna-text p {
        font-size: 18px;
    }
    .intro-text {
        padding: 50px 0;
        max-width: 100%;
    }
    .intro-text h2 {
        font-size: 26px;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .intro-text a {
        font-size: 18px;
        padding: 15px 30px;
    }
    .services-01 {
        width: 100%;
        padding: 50px;
        border-right: 0px;
    }
    .services-swiper {
        width: 100%;
        padding: 0 0 50px 50px;
    }
    .about {
        width: 100%;
        padding: 0px 0 50px 50px;
    }
    .animacija {
        height: 60px;
        width: 100%;
        margin: 0 0 50px;
    }
    footer {
        padding: 25px 0;
        font-size: 18px;
    }
}
